<table class="table">
  <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>Crest</th>
      <th>Team</th>
      <th>Games</th>
      <th>Points</th>
      <th>Goals</th>
      <th>Goals Against</th>
      <th>Goal Difference</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <th scope="row">{{item.position}}</th>
      <td>
        <img *ngIf="item.crestURI" src="{{item.crestURI}}" width="48" height="48" alt="Crest Missing">
        <img *ngIf="!item.crestURI" src="https://image.flaticon.com/icons/svg/53/53283.svg" width="48" height="48">
      </td>

      <td><button class="btn btn-link" (click)="onTeamSelected(item)">{{item.teamName}}</button></td>
      <td>{{item.playedGames}}</td>
      <td>{{item.points}}</td>
      <td>{{item.goals}}</td>
      <td>{{item.goalsAgainst}}</td>
      <td>{{item.goalDifference}}</td>
    </tr>
  </tbody>
</table>

